Faker==5.4.0
python-datautil==2.8.1
# we just installed selenium
selenium==3.141.0
six==1.15.0   # this was installed with Faker


text-unidecode==1.3   # More faker stuff
urllib3==1.26.2   # this was installed with selenium
